body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1440px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1120px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:1120px;
}
#u1 {
  position:absolute;
  left:2px;
  top:552px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:61px;
  top:3px;
  width:1020px;
  height:152px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1020px;
  height:152px;
}
#u3 {
  position:absolute;
  left:2px;
  top:68px;
  width:1016px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:267px;
  width:110px;
  height:10px;
}
#u4_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_end {
  position:absolute;
  left:93px;
  top:-5px;
  width:18px;
  height:20px;
}
#u4_line {
  position:absolute;
  left:0px;
  top:4px;
  width:110px;
  height:3px;
}
#u5 {
  position:absolute;
  left:110px;
  top:261px;
  width:30px;
  height:23px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:23px;
}
#u6 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:140px;
  top:267px;
  width:60px;
  height:10px;
}
#u7_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_end {
  position:absolute;
  left:43px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_line {
  position:absolute;
  left:0px;
  top:4px;
  width:60px;
  height:3px;
}
#u8 {
  position:absolute;
  left:0px;
  top:294px;
  width:50px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:33px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:4px;
  width:50px;
  height:3px;
}
#u9 {
  position:absolute;
  left:44px;
  top:281px;
  width:45px;
  height:10px;
  -webkit-transform:rotate(322deg);
  -moz-transform:rotate(322deg);
  -ms-transform:rotate(322deg);
  transform:rotate(322deg);
}
#u9_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_end {
  position:absolute;
  left:28px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_line {
  position:absolute;
  left:0px;
  top:4px;
  width:45px;
  height:3px;
}
#u10 {
  position:absolute;
  left:1046px;
  top:286px;
  width:175px;
  height:10px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u10_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:158px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:4px;
  width:175px;
  height:3px;
}
#u11 {
  position:absolute;
  left:1016px;
  top:279px;
  width:30px;
  height:23px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:23px;
}
#u12 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:935px;
  top:286px;
  width:81px;
  height:10px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u13_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_end {
  position:absolute;
  left:64px;
  top:-5px;
  width:18px;
  height:20px;
}
#u13_line {
  position:absolute;
  left:0px;
  top:4px;
  width:81px;
  height:3px;
}
#u14 {
  position:absolute;
  left:1106px;
  top:259px;
  width:50px;
  height:10px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:33px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:4px;
  width:50px;
  height:3px;
}
#u15 {
  position:absolute;
  left:1067px;
  top:272px;
  width:45px;
  height:10px;
  -webkit-transform:rotate(142deg);
  -moz-transform:rotate(142deg);
  -ms-transform:rotate(142deg);
  transform:rotate(142deg);
}
#u15_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_end {
  position:absolute;
  left:28px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_line {
  position:absolute;
  left:0px;
  top:4px;
  width:45px;
  height:3px;
}
#u16 {
  position:absolute;
  left:935px;
  top:507px;
  width:110px;
  height:10px;
}
#u16_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:93px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:4px;
  width:110px;
  height:3px;
}
#u17 {
  position:absolute;
  left:1045px;
  top:501px;
  width:30px;
  height:23px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:23px;
}
#u18 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:1075px;
  top:507px;
  width:195px;
  height:10px;
}
#u19_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_end {
  position:absolute;
  left:178px;
  top:-5px;
  width:18px;
  height:20px;
}
#u19_line {
  position:absolute;
  left:0px;
  top:4px;
  width:195px;
  height:3px;
}
#u20 {
  position:absolute;
  left:935px;
  top:534px;
  width:50px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:33px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:4px;
  width:50px;
  height:3px;
}
#u21 {
  position:absolute;
  left:979px;
  top:521px;
  width:45px;
  height:10px;
  -webkit-transform:rotate(322deg);
  -moz-transform:rotate(322deg);
  -ms-transform:rotate(322deg);
  transform:rotate(322deg);
}
#u21_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_end {
  position:absolute;
  left:28px;
  top:-5px;
  width:18px;
  height:20px;
}
#u21_line {
  position:absolute;
  left:0px;
  top:4px;
  width:45px;
  height:3px;
}
#u22 {
  position:absolute;
  left:111px;
  top:518px;
  width:90px;
  height:10px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u22_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_end {
  position:absolute;
  left:73px;
  top:-5px;
  width:18px;
  height:20px;
}
#u22_line {
  position:absolute;
  left:0px;
  top:4px;
  width:90px;
  height:3px;
}
#u23 {
  position:absolute;
  left:81px;
  top:511px;
  width:30px;
  height:23px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:23px;
}
#u24 {
  position:absolute;
  left:2px;
  top:4px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:0px;
  top:518px;
  width:81px;
  height:10px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u25_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_end {
  position:absolute;
  left:64px;
  top:-5px;
  width:18px;
  height:20px;
}
#u25_line {
  position:absolute;
  left:0px;
  top:4px;
  width:81px;
  height:3px;
}
#u26 {
  position:absolute;
  left:171px;
  top:491px;
  width:31px;
  height:10px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u26_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_end {
  position:absolute;
  left:14px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_line {
  position:absolute;
  left:0px;
  top:4px;
  width:31px;
  height:3px;
}
#u27 {
  position:absolute;
  left:132px;
  top:504px;
  width:45px;
  height:10px;
  -webkit-transform:rotate(142deg);
  -moz-transform:rotate(142deg);
  -ms-transform:rotate(142deg);
  transform:rotate(142deg);
}
#u27_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_end {
  position:absolute;
  left:28px;
  top:-5px;
  width:18px;
  height:20px;
}
#u27_line {
  position:absolute;
  left:0px;
  top:4px;
  width:45px;
  height:3px;
}
#u28 {
  position:absolute;
  left:200px;
  top:175px;
  width:735px;
  height:445px;
  font-family:'Century Gothic Regular', 'Century Gothic';
  color:#000000;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:745px;
  height:455px;
}
#u29 {
  position:absolute;
  left:20px;
  top:10px;
  width:695px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:406px;
  top:360px;
  width:323px;
  height:212px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:212px;
}
#u32 {
  position:absolute;
  left:2px;
  top:98px;
  width:319px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:770px;
  top:560px;
  width:141px;
  height:30px;
  color:#1E1E1E;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:30px;
}
#u34 {
  position:absolute;
  left:2px;
  top:7px;
  width:137px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:220px;
  top:570px;
  width:120px;
  height:20px;
  color:#0066FF;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
}
#u36 {
  position:absolute;
  left:2px;
  top:2px;
  width:116px;
  word-wrap:break-word;
}
